In [2]:
import warnings
warnings.filterwarnings('ignore')

import random
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
#맷플랏립 그래프 주피터에서 바로 출력하기
import seaborn as sns

from scipy import stats
from scipy.stats import t, norm, chi2, chi2_contingency
import re
import time

from matplotlib import rc
rc('font', family='Malgun Gothic')      #한글 폰트설정
plt.rcParams['axes.unicode_minus']=False      #마이너스 부호 출력 설정

from sklearn.datasets import load_iris
from sklearn import datasets

import cx_Oracle

from sklearn.preprocessing import StandardScaler

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.model_selection import GridSearchCV

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import Binarizer

from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import roc_auc_score

from sklearn import tree
from sklearn.datasets import make_classification

from sklearn.datasets import load_breast_cancer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV

import xgboost    #1.7.5버전
from xgboost import plot_importance
from xgboost import XGBClassifier
from sklearn.datasets import load_breast_cancer

from hyperopt import hp
from hyperopt import fmin, tpe, Trials
from hyperopt import STATUS_OK

In [12]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:1000px;  /* 변경하고 싶은 크기 입력 */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [4]:
## 위에 코드 -> 그래프 커도 스크롤 바 안 생기게 하는 코드
## 없애고 싶으면 restart 해야함

In [5]:
df = pd.read_excel(r"C:\Users\h\hmkd1\m1_programming\imsi.xlsx")
df

af = df[['중분류명','임의코드']]
af

df.중분류명[df.임의코드==20].unique()
df[df.중분류명=='B선물세트']

Empty DataFrame
Columns: [제휴사, 대분류코드, 중분류코드, 소분류코드, 중분류명, 소분류명, 임의코드, 임의코드분류명]
Index: []

In [6]:
af['new'] = af['중분류명'] + af['임의코드'].astype(str)

In [7]:
df.isnull().sum()

제휴사        0
대분류코드      0
중분류코드      0
소분류코드      0
중분류명       0
소분류명       0
임의코드       0
임의코드분류명    0
dtype: int64

In [11]:
pur1 = pd.read_csv(r"C:\Users\h\hmkd1\m1_programming\[7] DB sql\PURPROD_SAMPLE.csv", encoding='cp949')
pur1.head()

  제휴사    영수증번호  대분류코드  중분류코드    소분류코드   고객번호  점포코드      구매일자  구매시간   구매금액
0   B  8919510     52   5210  B521004  17485    48  20150921    21  25600
1   B  8919519      5    501  B050101   7002    48  20150921    19   1880
2   B  8726234     38   3804  B380404  14457    44  20150304    18   3800
3   B  8724730      8    802  B080203   7814    44  20150222    13   8000
4   B  8750661     11   1103  B110302  17703    44  20150715    21   2000

In [13]:
pur1.isnull().sum()

제휴사      0
영수증번호    0
대분류코드    0
중분류코드    0
소분류코드    0
고객번호     0
점포코드     0
구매일자     0
구매시간     0
구매금액     0
dtype: int64

In [17]:
df.head(3)

  제휴사  대분류코드  중분류코드    소분류코드 중분류명    소분류명  임의코드 임의코드분류명
0   B     40   4005  B400501  히터기   전기스토브     9   전자/기기
1   B     40   4005  B400502  히터기  원적외선히터     9   전자/기기
2   B     40   4005  B400503  히터기     온풍기     9   전자/기기

In [18]:
pur = pd.merge(df, pur1, how='outer', on=['제휴사','대분류코드','중분류코드','소분류코드'])
pur.head(3)

,제휴사,대분류코드,중분류코드,소분류코드,중분류명,소분류명,임의코드,임의코드분류명,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,40,4005,B400501,히터기,전기스토브,9,전자/기기,9477908.0,14025.0,72.0,20140621.0,21.0,29000.0
1,B,40,4005,B400502,히터기,원적외선히터,9,전자/기기,7580485.0,4074.0,18.0,20140313.0,10.0,10000.0
2,B,40,4005,B400503,히터기,온풍기,9,전자/기기,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
pur.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286236 entries, 0 to 286235
Data columns (total 14 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   제휴사      286236 non-null  object
 1   대분류코드    286236 non-null  int64
 2   중분류코드    286236 non-null  int64
 3   소분류코드    286236 non-null  object
 4   중분류명     286236 non-null  object
 5   소분류명     286236 non-null  object
 6   임의코드     286236 non-null  int64
 7   임의코드분류명  286236 non-null  object
 8   영수증번호    285368 non-null  float64
 9   고객번호     285368 non-null  float64
 10  점포코드     285368 non-null  float64
 11  구매일자     285368 non-null  float64
 12  구매시간     285368 non-null  float64
 13  구매금액     285368 non-null  float64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.8+ MB

In [20]:
db = cx_Oracle.connect("c##lm", "lm", 'localhost:1521/xe')

cursor = db.cursor()
cursor.execute("select * from DEMO")
x = cursor.fetchall()

demo = pd.DataFrame(x)

cursor.execute("select column_name from user_tab_columns where table_name='DEMO'")
col = cursor.fetchall()

list1 = []
for i in col:
    for j in i:
        list1.append(j)
demo.columns = list1
demo.tail()

        고객번호 성별      연령대 거주지역
19378  19261  F    60세이상  072
19379  19262  F  20세~24세  052
19380  19263  F    60세이상  460
19381  19264  F  45세~49세  100
19382  19265  M    60세이상  410

In [21]:
demo.columns

Index(['고객번호', '성별', '연령대', '거주지역'], dtype='object')

In [22]:
pur.columns

Index(['제휴사', '대분류코드', '중분류코드', '소분류코드', '중분류명', '소분류명', '임의코드', '임의코드분류명',
       '영수증번호', '고객번호', '점포코드', '구매일자', '구매시간', '구매금액'],
      dtype='object')

In [23]:
demo['고객번호'] = demo['고객번호'].astype(float)
pur = pd.merge(pur, demo, how='outer', on=['고객번호'])
pur.head()

,제휴사,대분류코드,중분류코드,소분류코드,중분류명,소분류명,임의코드,임의코드분류명,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,성별,연령대,거주지역
0,B,40.0,4005.0,B400501,히터기,전기스토브,9.0,전자/기기,9477908.0,14025.0,72.0,20140621.0,21.0,29000.0,M,40세~44세,270
1,B,10.0,1003.0,B100305,흰우유,일반흰우유,1.0,식품,9484070.0,14025.0,72.0,20150130.0,11.0,3980.0,M,40세~44세,270
2,B,15.0,1506.0,B150601,커피차음료,커피음료,2.0,음료/주류,9487110.0,14025.0,72.0,20150518.0,14.0,990.0,M,40세~44세,270
3,B,81.0,8103.0,B810303,조미김,전장김,1.0,식품,9487239.0,14025.0,72.0,20150522.0,19.0,15800.0,M,40세~44세,270
4,B,10.0,1005.0,B100501,요구르트,마시는요구르트,1.0,식품,9488314.0,14025.0,72.0,20150627.0,17.0,8760.0,M,40세~44세,270

In [24]:
pur.isnull().sum()
# demo.isnull().sum()

제휴사         149
대분류코드       149
중분류코드       149
소분류코드       149
중분류명        149
소분류명        149
임의코드        149
임의코드분류명     149
영수증번호      1017
고객번호        868
점포코드       1017
구매일자       1017
구매시간       1017
구매금액       1017
성별          868
연령대         868
거주지역       2944
dtype: int64

In [ ]:
pur.to_excel(r'C:\Users\h\hmkd1\m1_programming\[7] DB sql\onetool1.xlsx', index=False)

In [ ]:
df = pd.read_excel(r"C:\Users\h\hmkd1\HMKD 프로젝트\onetool1_추가.xlsx")
df.head()

In [ ]:
af = df[['제휴사','대분류코드','중분류코드','소분류코드','임의코드','임의코드분류명','중분류명','소분류명','구매금액']]
af.head()

In [ ]:
af.groupby(['임의코드','제휴사']).agg()